<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ document.full_title }}</title>
    <style>{% include 'coverage.css' %}</style>
  </head>
  <body>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Requirement</th>
          <th>
            <span id="heading-tests">Tests</span>
            <span id="heading-descriptions">Descriptions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for requirement, tests in coverage.mapping.items() %}
          <tr class="requirement {{ 'obsolete' if requirement.obsolete }}">
            <td>
              <p class="requirement-id">{{ requirement.id }}</p>
            </td>
            <td>
              {% if tests %}
                <table class="tests-table">
                  {% for test in tests %}
                    <tr>
                      <td>
                        <span class="tag test-type-{{ 'auto' if test.automated else 'manual' }}"></span>
                        <span class="test-name">{{ test.id }}</span>
                      </td>
                      <td class="test-description">{{ test.description }}</td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                No tests found
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
