<!DOCTYPE html>
<head>
    <style>{% include 'cover.css' %}</style>
</head>
<body>
    <div id="front-page">
        <h1>{{ title }}</h1>
        <h3>{{ author }}</h3>
        <h3>{{ render_date.strftime('%Y-%m-%d') }}</h3>
    </div>
</body>
