<!DOCTYPE html>
<head>
    <style>{% include 'footer.css' %}</style>
    <script>{% include 'footer.js' %}</script>
</head>
<body onload="loadPageVariables()">
    <table id="footer">
        <tbody>
            <tr>
                <td id="left">
                    <img id="logo" src="{{ logo_path }}" width="1000" height="300" alt="Logo" />
                </td>
                <td id="middle">{{ title }}</td>
                <td id="right">
                    Page <span class="page"></span> of <span class="topage"></span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
