body {
    font-family: sans-serif;
}

#front-page {
    padding-top: 500px;
    text-align: center;
    page-break-after: always;
}

#front-page h1 {
    font-size: 40px;
}

#front-page h3 {
    font-size: 20px;
}

table.test-conditions {
    width: 50%;
}

table.test-conditions td:first-of-type {
    width: 35%;
    text-align: right;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #bbb;
    color: white;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
    vertical-align: top;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid darkgrey;
}

.page-break {
    page-break-after: always;
}

.test-id {
    font-family: monospace;
}

.test-description {
    font-style: italic;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    transform: scale(1.5) translateX(2px) !important;
    -webkit-transform: scale(1.5) translateX(2px) !important;
}

label {
    display: block;
}

.conditions-box {
    width: 100%;
    height: 30px;
}

.evidence-box {
    width: 150px;
    height: 70px;
}

.comments-box {
    width: 100%;
    height: 115px;
}