<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ document.full_title }}</title>
    <style>{% include 'protocol.css' %}</style>
  </head>
  <body>
    <div id="test-pages">
      {% for test in document.tests %}
        <h1 class="test-id">{{ test.full_name }}</h1>
        <p class="test-description">{{ test.description }}</p>
        <p class="section-title">Test conditions</p>
        <table class="test-conditions">
          <tr>
            <td>Tester name</td>
            <td>
              <textarea class="conditions-box" name="name-{{ test.full_name }}"></textarea>
            </td>
          </tr>
          <tr>
            <td>Date</td>
            <td>
              <textarea class="conditions-box" name="date-{{ test.full_name }}"></textarea>
            </td>
          </tr>
          <tr>
            <td>Software version</td>
            <td>
              <textarea class="conditions-box" name="version-{{ test.full_name }}"></textarea>
            </td>
          </tr>
        </table>
        <p class="section-title">Test procedure</p>
        <table class="test-procedure">
          <thead>
            <tr>
              <th>Step</th>
              <th>Given</th>
              <th>When</th>
              <th>Then</th>
              <th>Pass</th>
              <th>Evidence</th>
            </tr>
          </thead>
          <tbody>
            {% for step in test.steps %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ step.given }}</td>
                <td>{{ step.when }}</td>
                <td>{{ step.then }}</td>
                <td>
                  <input type="checkbox" name="pass-{{ test.full_name }}-{{ loop.index }}" />
                </td>
                <td>
                  {% if step.evidence %}
                    {% if step.evidence.value == "observation" %}
                      <span>Observation</span>
                    {% else %}
                      <label>{{ step.evidence.value | title }} file:</label>
                      <textarea class="evidence-box"
                                name="evidence-{{ test.full_name }}-{{ loop.index }}"></textarea>
                    {% endif %}
                  {% else %}
                    <span>N/A</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <label>Comments:</label>
        <textarea class="comments-box" name="comments-{{ test.full_name }}"></textarea>
        {% if not loop.last %}<div class="page-break"></div>{% endif %}
      {% endfor %}
    </div>
  </body>
</html>
