body {
    font-family: sans-serif;
}

.requirement {
    padding: 5px 10px 5px;
    border-top: silver solid thin;
}

.requirement:nth-of-type(even) {
    background-color: #f3f3f3;
}

.requirement:last-of-type {
    border-bottom: silver solid thin;
}

.requirement.obsolete {
    color: grey;
    text-decoration: line-through;
}

.requirement-id,
.parent-id {
    display: inline-block;
    margin: 10px 0 0;
}

/* Set these explicitly, since text-decoration doesn't propagate for inline-block
elements. */
.requirement.obsolete .requirement-id,
.requirement.obsolete .parent-id {
    text-decoration: line-through;
}

.parent-id {
    float: right;
    font-weight: bold;
}

.obsolete-reason {
    color: blueviolet;
    font-weight: bold;
    /* Clear text-decoration */
    display: inline-block;
    margin-bottom: 0;
}

.rationale {
    font-style: italic;
    font-size: 12px;
}